:root {
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --fs-desktop: 20px;
  --fs-tablet: 18px;
  --fs-mobile: 16px;

  --color-main: #244250;
  --color-bg-main: #e0e9ed;
  --color-bg: #fff;
  --color-1: #ed1c24;
  --color-border: #9eb2ba;
}

body {
  margin: 0 auto;
  font-family: 'Playfair Display', serif, 'Roboto', sans-serif;
  color: #244250;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}