:root {
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --fs-desktop: 20px;
  --fs-tablet: 18px;
  --fs-mobile: 16px;

  --color-main: #244250;
  --color-bg-main: #e0e9ed;
  --color-bg: #fff;
  --color-1: #ed1c24;
  --color-border: #9eb2ba;
}

body {
  margin: 0 auto;
  font-family: 'Playfair Display', serif, 'Roboto', sans-serif;
  color: #244250;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="text"] {
  font-family: inherit;
  font-size: inherit;
  margin-right: 10px;
  outline: none;
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: 1px var(--color-border) solid;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: var(--color-bg);
}

/* для отмеченного чекбокса */
input[type="checkbox"]:checked + label:before {
  background-color: var(--color-bg);
  border-color: var(--color-1);
}

/* для галочки */
input[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  left: 8px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--color-1);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}